body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 95vh;
    max-height: 95vh;
    background-color: #000000;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 26px;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden; 
}

main {
    flex: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

#LogoLink img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    width: 40%;
    font-size: 15px;
    border-radius: 100px; 
}

footer a {
    color: #333;
    margin: 0 10px;
    font-size: 15px;
    font-family: Arial, sans;
}
