body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    max-height: 90vh;
    background-color: #000000;
    font-style: italic;
    font-size: 20px;
    color: #ba0909;
    cursor: pointer;
    overflow: hidden; 
}

main {
    flex: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

#LogoLink img {
    max-width: 100%;
    height: auto;
}

.dark-text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333333;
    position: absolute;
    bottom: 150px; 
}
